.container {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.red {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.blue {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.gray {
    grid-column: 2 / 3;
    grid-row: 1 / 3
}
