.input:focus {

}

.input {
    width: 373px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    outline: none;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {

}

.errorInput {
    border-color: #CC1439;
    color:  #CC1439;
}

.errorInput:focus {

}

.error {
    border-color: #CC1439;
    color:  #CC1439;
}
