.buttonsContainer {
    margin-top: 27px;
    margin-left: 70px;
}

.clock {

}

.watch {
    margin-top: 26px;
    margin-left: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.watch strong {
}

.more {
    margin-top: 8px;
    margin-left: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

