.button {
    padding: 5px 24px;
    border-radius: 3px;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.disabled {
    background-color: #004D99;
    color: #002E5C;
    border-color: #004D99;
}

.secondary {
    color: #0066CC;
    border-color: #0066CC;
}

.default {
    color: #FFFFFF;
    background-color: #0066CC;
    border-color: #0066CC;
}

.red {
    background-color: #CC1439;
    color: #FFFFFF;
    border-color: #CC1439;
}

.default:hover {
    color: #FFFFFF;
    background-color: #0080FF;
    border-color: #0080FF;
}

.red:hover {
    background-color: #FF1A47;
    color: #FFFFFF;
    border-color: #FF1A47;
}

.secondary:hover {
    color: #0066CC;
    background-color: #E5F0FA;
    border-color: #0066CC;
}


.default:active {
    color: #FFFFFF;
    background-color: #0059B2;
    border-color: #0080FF;
}

.secondary:active {
    color: #0066CC;
    background-color: #C9E5FF;
    border-color: #0066CC;
}

.red:active {
    background-color: #B21232;
    color: #FFFFFF;
    border-color: #FF1A47;
}

.button:disabled {
    background-color: #004D99;
    color: #002E5C;
    border-color: #004D99;
}
